In [1]:
# Libs

import pandas as pd
import numpy as np
import matplotlib as plt

%matplotlib inline

In [4]:
dados = pd.read_csv('dados_original_bdmep.csv')

In [9]:
dados.head()

,Estacao,Data,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media
0,83985,01/01/1962,0,0.0,25.4,0.0,0.0,1.6,21.70,86.25,4.000000
1,83985,01/01/1962,1200,0.0,0.0,18.4,0.0,0.0,0.00,0.00,0.000000
2,83985,02/01/1962,0,0.0,29.2,0.0,0.0,1.0,23.16,76.00,0.666667
3,83985,02/01/1962,1200,15.8,0.0,20.0,0.0,0.0,0.00,0.00,0.000000
4,83985,03/01/1962,0,0.0,24.6,0.0,0.0,0.8,18.66,67.50,4.000000

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23802 entries, 0 to 23801
Data columns (total 11 columns):
Estacao                      23802 non-null int64
Data                         23802 non-null object
Hora                         23802 non-null int64
Precipitacao                 23802 non-null float64
TempMaxima                   23802 non-null float64
TempMinima                   23802 non-null float64
Insolacao                    23802 non-null float64
Evaporacao Piche             23802 non-null float64
Temp Comp Media              23802 non-null float64
Umidade Relativa Media       23802 non-null float64
Velocidade do Vento Media    23802 non-null float64
dtypes: float64(8), int64(2), object(1)
memory usage: 2.0+ MB

In [11]:
# Transforma Data string em numerica

dados['Dia'] = dados.Data.apply(lambda data : data.split('/')[0])
dados['Mes'] = dados.Data.apply(lambda data : data.split('/')[1])
dados['Ano'] = dados.Data.apply(lambda data : data.split('/')[2])

dados.head()

,Estacao,Data,Hora,Precipitacao,TempMaxima,TempMinima,Insolacao,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,Dia,Mes,Ano
0,83985,01/01/1962,0,0.0,25.4,0.0,0.0,1.6,21.70,86.25,4.000000,01,01,1962
1,83985,01/01/1962,1200,0.0,0.0,18.4,0.0,0.0,0.00,0.00,0.000000,01,01,1962
2,83985,02/01/1962,0,0.0,29.2,0.0,0.0,1.0,23.16,76.00,0.666667,02,01,1962
3,83985,02/01/1962,1200,15.8,0.0,20.0,0.0,0.0,0.00,0.00,0.000000,02,01,1962
4,83985,03/01/1962,0,0.0,24.6,0.0,0.0,0.8,18.66,67.50,4.000000,03,01,1962